@import "tailwindcss";


@theme {
  --color-theme-blue: #160076;
  --color-theme-dark-blue: #0f172a;
  --color-theme-white: #F9FAFB;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}
